strong{font-weight: 600;}
canvas{
  width:100%;
  cursor: pointer;
  height: 100%;
}

.hero_section{
  height: calc(100vh - 24px);
  display: flex;
  flex-direction: column;
  margin-bottom:$space;
  overflow: hidden;
  border-bottom: 1px solid $black;
}


.hero_header_wrapper{
  display: flex;
  .header_left{
    width:66.66%;
    padding-right: 0;
    .hero_header_container{
      border-right: 0;
    }
  }
  .header_right{
    width:33.33%;
    background: $black;
    padding: 24px;
    padding-bottom: 0;
    padding-left: 0;
    .hero_header_container{
      border:$border;
      border-bottom:none;
      border-left:0;
      border-color: $white;
      padding-bottom: $spacing*4;
    }
    .box_white{
      height: 62px;
      border-bottom: 1px solid $white;
    }
  }
}


.hero_header{
  padding: $space;
  padding-bottom: 0;
  background: $verde;
  .hero_logo{
    border-bottom:$border;
    padding: $spacing*2;
  }
  .hero_header_container{
    border:$border;
    border-bottom:none;
    padding-bottom: $spacing*4;
    img{
      width:200px;
    }
  }
}
.hero_container{
  margin: 0 $space;
  background: $white;
  border: $border;
  border-bottom:0;
  border-top:none;
  height: 100%;
  display: flex;
  .hero_text{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: $space 0;
    h1{
      @include hero_title;
      margin-bottom: $space;
    }
    .hero_description{
      line-height: 1.6;
      a{color: $verde;}
      .arrow_row{display: flex;align-items: center; margin: $spacing; img{margin-right: $spacing;}}
      .sub-desc{
        margin-top: $space;
        font-family: $mat;
        text-transform: uppercase;
        font-size: $size_small;
      }
    }
  }
  .hero_text{
    width:calc(66.66vw - 5px);
    border-right: 1px solid $black;
    padding: $spacing*2;
  }
  .hero_animation{
    width:33.33%;
  }
}
.hero_footer{
  display: flex;
  .social_list{
    margin-left: $spacing*2;
    cursor: pointer;
    &:hover{
      #rect_hover{fill: $verde;}
    }
  }
  .arrow_down{
    cursor: pointer;
    &:hover{
      #rect_hover{fill: $verde;}
    }
  }
}
#rect_hover{
  transition: .2s ease;
}

.text_section{
  margin: 0 $space;
  border: $border;
  border-top:0;
  position: relative;
  .text_section_header{
    display: flex;
    border-top: $border;
    .col_left{
      width:25%;
      padding: 10px;
      background: $verde;
      text-align: center;
      color:white;
      border-right: $border;
      border-bottom: $border;
      @include heading;
      span{font-size: 12px;}
    }
    .col_right{
      width:75%;
      padding: 10px;
      background: $black;
    }
  }
}

.approfondimento{
  width:calc(100% + 48px);
  margin-left: -$spacing*3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: $spacing*3;
  align-items: center;
  h4{font-size: 14px;}
  .approfondimento_cta_container{
    width:100%;
    margin-top: $spacing;
    display: flex;
    align-items: center;
    .button_approfondimento{
      min-width: 200px;
      margin: 0 $spacing;
      position: relative;
      background: $verde;
      border-radius: 100px;
      border:1px solid $black;
      display: flex;
      color:white;
      justify-content: center;
      padding: 0 $spacing*2;
      span{
        padding-left: $spacing*2;
      }
      svg{
        position: absolute;
        left: $spacing*2;
        top:-6px;
        cursor: pointer;
        &:hover{
          circle{fill:$yellow;}
        }
      }
    }
    .line{
      width:100%;
      height: 1px;
      background: $black
    }

  }
}


.after{
  &:after{
    content: "";
    position: absolute;
    top:-1px;
    right: -$space;
    width:$space;
    height: calc(100% + 2px);
    border-top:$border;
    border-bottom:$border;
    border-left: $border;
  }
  &.purple:after{background: $verde;}
  &.white:after{background: $white;}
}

.before{
  &:before{
    content: "";
    position: absolute;
    top:-1px;
    left: -$space;
    width:$space;
    height: calc(100% + 2px);
    border-top:$border;
    border-bottom:$border;
    border-right: $border;
  }
  &.black:before{background: $black;}
  &.white:before{background: $white;}
}

.text_container{
  display: flex;
  .col_left{
    width:25%;
    padding: 0 $space;
    background: $white;
    border-right:$border;
    text-align: right;
    @include heading;
    h3{
      position: relative;
      &:after{
        content: "";
        position: absolute;
        right: -36px;
        height: 1px;
        background: black;
        width: 25px;
        top: 12px;
      }
    }
  }
  .col_right{
    width:75%;
    padding: $space*2 $spacing*2;
    p:not(:last-child){margin-bottom: $spacing*3;}
    p{max-width: 900px; margin: 0 auto;}
    .text_arrow_row{
      max-width: 900px; margin: 0 auto;
      display: flex;

      .arrow_left{
        margin-right: $spacing*3;
      }
    }
  }
  &.p-top{
    .col_left{padding-top: $spacing*4;}
    .col_right{padding-top: $space*3}
  }
}


.info_section{
  margin: 0 $space;
  border-left: $border;
  border-top: 0;
  position: relative;
  &.numbers{
    .numbers_container{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}



.levels{
  margin-top: $spacing*2;
  .level_row{display: flex;
  align-items: center;
  }
  .level{
    width:30px;
    display: flex;
    align-items: center;
    margin-right: $spacing;
    border-radius: 10px;
    height: 5px;
    &.green{background: $verde;}
    &.yellow{background: $yellow;}
  }
  p{
    font-size: $size_small !important;
  }
}

.number_card{
  padding: $space*2 $spacing*4;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-bottom:$border;
  border-right: $border;
  min-height: 25vh;
  .num{
    font-size: 40px;
    font-weight: lighter;
    margin-bottom: $spacing*2;
    span{font-size: 16px;}
  }

  p{
    font-size: 20px;
    line-height: 1.4;
  }

  &.legenda{
    background: $black;
    color:white;
    text-align: left;
    align-items: flex-start;
    h3{@include heading;}
  }
  &:after{
    content: "";
    position: absolute;
    bottom:0;
    border-top: $border;
    width:100%;
    height: $spacing;
  }
  &.green:after{background: $verde;}
  &.yellow:after{background: $yellow;}
}


.grid_metodo{
  margin: 0 $space;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-left: $border;
}

.metodo_card{
  padding: $space*2 $spacing*5;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  border-right: $border;
  border-bottom:$border;
  min-height: 25vh;
  img{
    position: absolute;
    top:calc(50% - 18px);
    right:-18px;
    z-index: 2;
  }
  &.black{
    background: $black;
    color:white;
    @include heading;
    justify-content: center;
  }
  &.purple{
    background:$verde;
  }
  &.white{
    background: $white;
  }
  .metodo_card_container{
    position: relative;
    font-size: 20px;
  }
  .metodo_count{
    width:fit-content;
    margin: 0 auto;
    margin-bottom: $spacing*3;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $black;
    width:22px;
    height: 22px;
    padding: 3px;
    border-radius: 100%;
    color:white;
    font-family: $mat;
    font-size: 12px;
    line-height: 1;
  }
  .small_text{
    font-size: $size_small;
    line-height: 1.2;
    margin-top: $spacing;
  }
}



.infografica{
  border-right: 1px solid $black;
  border-bottom:1px solid $black;
  display: flex;

  img, svg{
    min-width: 100%;
    height: auto;
    padding: 0 4vw
  }

}


.section_split{
  margin: 0 $space;
  border:$border;
  border-top:0;
  .reverse{
    flex-direction: row-reverse;
    .split_title{
      border-left: 0 !important;
      border-right: $border;
    }
  }
  .split_header{
    display: flex;
    border-bottom:$border;
    border-top:$border;
    .header_text{
      width:75%;
      padding: 10px;
      background: $white;
    }
    .header_title{
      width:25%;
      text-align: center;
      padding: 10px;
      background: $black;
      @include heading;
      color:white;
    }
  }
  .split_col_container{
    display: flex;
    .split_text{
      width:75%;
      padding: $space*3 $spacing*2;
      line-height: 1.6;
      p:not(:last-child){margin-bottom: $space*2;}
      p{max-width: 900px; margin: 0 auto;}
    }
    .split_title{
      width:25%;
      background: $verde;
      border-left: $border;
    }
  }
}


.section_marquee{
  display: flex;
  margin: $space*2 0;
  border-top:1px solid $black;
  border-bottom:1px solid $black;
  line-height: 1.4;
  .col_black{
    width:15%;
    background: $black;
  }
  .marquee_text_container{
    width:65%;
    overflow: hidden;
    border-left: 1px solid $black;
    border-right: 1px solid $black;
    .header_marquee {
      border-bottom:1px solid $black;
      padding: $spacing 0;
      @include heading;
    }
    .marquee_text{
      padding: $space*3 $spacing*3;
      margin: 0 auto;
      width: 900px;
      max-width: 100%;
      p:not(:last-child){margin-bottom: $spacing*3;}
    }
  }
  .col_green{
    width:20%;
    background: $verde;
  }
}


.section_video{
  display: flex;
  margin: $space*2 0;
  border-top:1px solid $black;
  border-bottom:1px solid $black;

  .col_black{
    width:15%;
    background: $black;
  }
  .col_white{
    width:20%;
    background: $white;
    border-left: 1px solid $black;
  }

  .col_video{
    width:65%;
  }

  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
  }

  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: $black;
  .modal_container{
    height: 100vh;
    overflow: scroll;
    .text_container{
      display: flex;
      height: 100%;
      .col_left{
        background: $black;
        color:$white;
        padding: $space*6 $spacing;
        position: relative;
        h3{position: absolute; top:$space*2; left: $spacing*2; &:after{content: none}}
      }
      .col_right{
        background: $white;
        color:$black;
        border-right:24px solid $black;
        padding-top: $space*6;
      }
    }
    .close{
      position: absolute;
      top:$space*2;
      right: -$spacing;
      cursor: pointer;
    }
  }
}



.footer_top{
  margin: 0 $space;
  margin-top: $space*3;
  border:$border;
  border-bottom: 0;
  display: flex;
  background: $white;
  .footer_col{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: $space $spacing*2;
    h5{
      font-size: 14px;
      margin-bottom: $space;
    }
    .footer_col_content{
      @include heading;
      font-size: $size_text;
      a{color:$black;}
    }
    &:first-child{
      text-align: left;
    }
    &:last-child{
      text-align: right;
    }
  }
}

.footer_bottom{
  background: $black;
  .footer_bottom_container{
    margin: 0 $space;
    padding: $spacing*2 0;
    border-left: 1px solid white;
    border-right: 1px solid white;
    text-align: center;
    .footer_bottom_content{
      padding: $spacing*2;
      border-top:1px solid $white;
      width:100%;
      @include heading;
      font-size: 14px;
      color: $white;
      a{color:$white}
    }
  }
}
